<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= label_tag :due_date %><%= text_field_tag :due_date, params[:due_date] ? params[:due_date] : nil, id: "task_due_date", name: "task[due_date]", placeholder: Date.today.strftime("%m/%d/%Y") %></div>
    <div class="small-6 columns">
      <%= label_tag :due_time %><%= text_field_tag :due_time, nil, id: "task_due_time", name: "task[due_time]", placeholder: "2:00pm" %></div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <%= f.label :level %>
    <%= f.number_field :level, value: 1, min: 1, max: 5 %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns"><%= f.submit class: "button" %></div>
  </div>
<% end %>
