<% content_for :title, "Schedule" %>
<div id="date">
  <% date_p = @date - 1.month %>
  <% date_n = @date + 1.month %>
  <%= blink_to "<<", schedule_filter_path(date_p.year, date_p.month), class: "secondary left" %>
  <span><%= @date.strftime("%B %Y") %></span>
  <%= blink_to ">>", schedule_filter_path(date_n.year, date_n.month), class: "secondary right" %>
</div>
<%= calendar_for(@tasks, year: @date.year, month: @date.month, html: {class:"no-foundation", id:"calendar"}) do |calendar| %>
  <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
  <%= calendar.day(day_method: :due) do |date, tasks| %>
    <div class="date"><%= date.day %></div>
    <ul class="tasks unstyled">
      <% tasks.each do |task| %>
        <li>
          <%= link_to task do %>
            <%= task.level %>-<%= h(task.name) %>
          <% end %>
        </li>
      <% end %>
      <li><%= link_to "Add new Task +", new_task_path(due_date: date.strftime("%m/%d/%Y")) %></li>
    </ul>
  <% end %>
<% end %>