<!DOCTYPE html>
<html>
<head>
  <title><%= app_name %>.io<%= " - #{yield(:title)}" if content_for?(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "vendor/modernizr", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/dark-hive/jquery-ui.css" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"><h1><%= link_to (Rails.application.class.to_s.split("::").first+".<span class='io'>io</span> <small>v#{app_version}</small>").html_safe, root_path %></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= current_user %></a>
              <ul class="dropdown">
                <li><%= link_to "Account", edit_user_registration_path %></li>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
    
        <!-- Left Nav Section -->
        <ul class="left">
          <li><%= link_to "Schedule", schedule_path %></li>
          <li><%= link_to "Add New Task", new_task_path %></li>
        </ul>
      </section>
    </nav>
  </div>
  <div id="main">
    <% if notice %>
      <div data-alert class="alert-box success"><%= notice %><a href="#" class="close">&times;</a></div>
    <% end %>
    <% if alert %>
      <div data-alert class="alert-box danger"><%= alert %><a href="#" class="close">&times;</a></div>
    <% end %>
    <%= yield %>
  </div>
  <div class="loading-indicator"></div>
</body>
</html>
